.hero-section {
  @apply min-h-screen 
  flex 
  items-center 
  justify-center 
  text-neutral-50
  text-center
  px-2
  xs:px-3
  sm:px-5
  md:px-7
  lg:px-9
  xl:px-12
  2xl:px-16;

  background-image: url("/section-bg/home-hero-bg.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  @apply z-10
  bg-neutral-900/50
  backdrop-blur-sm
  /* px-1.5
  xs:px-3
  sm:px-5
  md:px-7
  xl:px-9
  2xl:px-12
  py-3.5
  xs:py-5
  sm:py-7
  md:py-9
  lg:py-10
  xl:py-12
  2xl:py-16 */
  p-4
  rounded-md
  shadow-lg;
}

.hero-headline {
  @apply text-3xl
  sm:text-4xl
  xl:text-5xl
  font-medium
  text-blue-500
  mb-2
  sm:mb-3
  xl:mb-4
  leading-8;
}

.hero-sub-headline {
  @apply text-xl
  sm:text-2xl
  xl:text-3xl
  mb-5
  sm:mb-6
  xl:mb-7
  leading-7;
}

.hero-cta {
  @apply flex
  flex-col
  sm:flex-row
  items-center
  justify-center
  gap-3
  sm:gap-4
  md:gap-5
  lg:gap-6;
}
